USE [master]
GO
/****** Object:  Database [PersonDatabase]    Script Date: 2/17/2019 8:06:44 PM ******/
CREATE DATABASE [PersonDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PersonDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PersonDatabase_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonDatabase]
GO
USE [PersonDatabase]
GO
/****** Object:  UserDefinedFunction [dbo].[calcMatchScore]    Script Date: 2/17/2019 8:06:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[calcMatchScore] (
	@FirstName varchar(255), 
	@LastName varchar(255), 
	@DOB datetime, 
	@Sex varchar(10),
	@FirstNameIn varchar(255), 
	@LastNameIn varchar(255), 
	@DOBIn datetime, 
	@SexIn varchar(10)

)
RETURNS DEC(10,2) AS
BEGIN

	DECLARE @TotalScore Dec(10,2)
	SET @TotalScore = 0.00
	/*
	FirstName 
		Full Credit = 1
		Partial Credit = .5
	*/
	if @FirstNameIn = @FirstName
		SET @TotalScore = @TotalScore + 1
	else if soundex(@FirstNameIn) = soundex(@FirstName)
		SET @TotalScore = @TotalScore + .5
	/*
	LastName 
		Full Credit = .8
		Partial Credit = .4
	*/
	if @LastNameIn = @LastName
		SET @TotalScore = @TotalScore + .8
	else if soundex(@LastNameIn) = soundex(@LastName)
		SET @TotalScore = @TotalScore + .4
	/*
	Dob 
		Full Credit = .75
		Partial Credit = .3
	*/
	if @DOBIn = @DOB
		SET @TotalScore = @TotalScore + .75
	else if (month(@DOBIn) = month(@DOB) AND year(@DOBIn) = year(@DOB))
		SET @TotalScore = @TotalScore + .3
	/*
	Sex 
		Full Credit = .6
		Partial Credit = .25
	*/
	if @SEX = @SEXIn
		SET @TotalScore = @TotalScore + .6
	else if (CHARINDEX(@SEXIn, @Sex) = 1)
		SET @TotalScore = @TotalScore + .25
    
	RETURN @TotalScore
END

GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 2/17/2019 8:06:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[PersonID] [int] NOT NULL,
	[ContractStartDate] [datetime2](7) NOT NULL,
	[ContractEndDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dates]    Script Date: 2/17/2019 8:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dates](
	[DateValue] [datetime] NULL,
	[DateDayofMonth] [int] NULL,
	[DateDayofYear] [int] NULL,
	[DateQuarter] [int] NULL,
	[DateWeekdayName] [varchar](20) NULL,
	[DateMonthName] [varchar](20) NULL,
	[DateYearMonth] [char](6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demographics]    Script Date: 2/17/2019 8:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demographics](
	[ProviderGroup] [varchar](100) NULL,
	[FileDate] [date] NULL,
	[ID] [varchar](30) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [char](1) NULL,
	[LastName] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[Sex] [char](1) NULL,
	[FavoriteColors] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2/17/2019 8:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] NULL,
	[PersonName] [varchar](255) NULL,
	[Sex] [varchar](10) NULL,
	[DateofBirth] [datetime] NULL,
	[Address] [varchar](255) NULL,
	[IsActive] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Risk]    Script Date: 2/17/2019 8:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Risk](
	[PersonID] [varchar](10) NULL,
	[AttributedPayer] [varchar](255) NULL,
	[RiskScore] [decimal](10, 6) NULL,
	[RiskLevel] [varchar](10) NULL,
	[RiskDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskByQuarter]    Script Date: 2/17/2019 8:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskByQuarter](
	[ID] [varchar](30) NULL,
	[Qtr] [char](2) NULL,
	[AttributedFlag] [varchar](3) NULL,
	[Risk] [decimal](11, 8) NULL,
	[FileDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 2/17/2019 8:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[sex] [varchar](30) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Contracts] ([PersonID], [ContractStartDate], [ContractEndDate]) VALUES (4, CAST(N'2018-07-03T00:00:00.0000000' AS DateTime2), CAST(N'2019-05-14T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Contracts] ([PersonID], [ContractStartDate], [ContractEndDate]) VALUES (5, CAST(N'2017-11-03T00:00:00.0000000' AS DateTime2), CAST(N'2017-11-23T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Contracts] ([PersonID], [ContractStartDate], [ContractEndDate]) VALUES (1, CAST(N'2017-12-23T00:00:00.0000000' AS DateTime2), CAST(N'2018-03-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Dates] ([DateValue], [DateDayofMonth], [DateDayofYear], [DateQuarter], [DateWeekdayName], [DateMonthName], [DateYearMonth]) VALUES (CAST(N'2010-01-01T00:00:00.000' AS DateTime), 1, 2010, 1, N'Friday', N'January', N'201001')
INSERT [dbo].[Dates] ([DateValue], [DateDayofMonth], [DateDayofYear], [DateQuarter], [DateWeekdayName], [DateMonthName], [DateYearMonth]) VALUES (CAST(N'2010-01-02T00:00:00.000' AS DateTime), 2, 2010, 1, N'Saturday', N'January', N'201001')
INSERT [dbo].[Dates] ([DateValue], [DateDayofMonth], [DateDayofYear], [DateQuarter], [DateWeekdayName], [DateMonthName], [DateYearMonth]) VALUES (CAST(N'2010-01-03T00:00:00.000' AS DateTime), 3, 2010, 1, N'Sunday', N'January', N'201001')
GO
INSERT [dbo].[Demographics] ([ProviderGroup], [FileDate], [ID], [FirstName], [MiddleName], [LastName], [DOB], [Sex], [FavoriteColors]) VALUES (N'Privia Family Medicine ', CAST(N'2018-11-30' AS Date), N'0000012275', N'Myrl', N' ', N'Isom', CAST(N'1932-09-04T01:02:23.540' AS DateTime), N'M', N'Unknown')
INSERT [dbo].[Demographics] ([ProviderGroup], [FileDate], [ID], [FirstName], [MiddleName], [LastName], [DOB], [Sex], [FavoriteColors]) VALUES (N'Privia Family Medicine ', CAST(N'2018-11-30' AS Date), N'0000034157', N'Emelda', N' ', N'Bain', CAST(N'1919-07-25T18:12:55.930' AS DateTime), N'M', N'Green')
INSERT [dbo].[Demographics] ([ProviderGroup], [FileDate], [ID], [FirstName], [MiddleName], [LastName], [DOB], [Sex], [FavoriteColors]) VALUES (N'Privia Family Medicine ', CAST(N'2018-11-30' AS Date), N'0000046629', N'Maryrose', N' ', N'Crowe', CAST(N'1905-07-13T09:32:37.843' AS DateTime), N'F', N'Yellow, Orange')
GO
INSERT [dbo].[Person] ([PersonID], [PersonName], [Sex], [DateofBirth], [Address], [IsActive]) VALUES (1, N'Azra (Az) Magnus', N'Male', CAST(N'1997-07-24T00:00:00.000' AS DateTime), N'7316 N. Durham St. Morgantown, WV 26508', 1)
INSERT [dbo].[Person] ([PersonID], [PersonName], [Sex], [DateofBirth], [Address], [IsActive]) VALUES (2, N'Palmer Hales (Billy)', N'Male', CAST(N'1951-07-21T00:00:00.000' AS DateTime), N'686 Myrtle Dr. Banning, CA 92220', 1)
INSERT [dbo].[Person] ([PersonID], [PersonName], [Sex], [DateofBirth], [Address], [IsActive]) VALUES (3, N'(Lilly) Lilla Solano', N'F', CAST(N'1982-05-17T00:00:00.000' AS DateTime), N'354 Jockey Hollow Street Hoffman Estates, IL 60169', 1)
INSERT [dbo].[Risk] ([PersonID], [AttributedPayer], [RiskScore], [RiskLevel], [RiskDateTime]) VALUES (N'1', N'Cigna', CAST(1.231000 AS Decimal(10, 6)), N'Bronze', CAST(N'2019-02-11T08:23:11.230' AS DateTime))
INSERT [dbo].[Risk] ([PersonID], [AttributedPayer], [RiskScore], [RiskLevel], [RiskDateTime]) VALUES (N'1', N'Medicare', CAST(4.453000 AS Decimal(10, 6)), N'Gold', CAST(N'2019-02-09T08:23:11.230' AS DateTime))
INSERT [dbo].[Risk] ([PersonID], [AttributedPayer], [RiskScore], [RiskLevel], [RiskDateTime]) VALUES (N'1', N'Cigna', CAST(2.568000 AS Decimal(10, 6)), N'Silver', CAST(N'2019-02-14T08:23:11.230' AS DateTime))
INSERT [dbo].[RiskByQuarter] ([ID], [Qtr], [AttributedFlag], [Risk], [FileDate]) VALUES (N'0000012275', N'Q1', N'No', CAST(0.44452869 AS Decimal(11, 8)), CAST(N'2018-11-30' AS Date))
INSERT [dbo].[RiskByQuarter] ([ID], [Qtr], [AttributedFlag], [Risk], [FileDate]) VALUES (N'0000012275', N'Q2', N'No', CAST(0.46252720 AS Decimal(11, 8)), CAST(N'2018-11-30' AS Date))
INSERT [dbo].[RiskByQuarter] ([ID], [Qtr], [AttributedFlag], [Risk], [FileDate]) VALUES (N'0000034157', N'Q1', N'Yes', CAST(0.46184947 AS Decimal(11, 8)), CAST(N'2018-11-30' AS Date))
GO
INSERT [dbo].[Sex] ([sex]) VALUES (N'Female')
INSERT [dbo].[Sex] ([sex]) VALUES (N'Male')
ALTER TABLE [dbo].[Sex]  WITH CHECK ADD  CONSTRAINT [chksex] CHECK  ((binary_checksum([sex])=binary_checksum('Male') OR binary_checksum([sex])=binary_checksum('Female')))
GO
ALTER TABLE [dbo].[Sex] CHECK CONSTRAINT [chksex]
GO
/****** Object:  StoredProcedure [dbo].[getMatchScore]    Script Date: 2/17/2019 8:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMatchScore]
@FirstNameIn varchar(255), 
@LastNameIn varchar(255), 
@DOBIn datetime,
@SexIn varchar(10)
AS    
    DECLARE @matchScore dec(10,2);
    SET NOCOUNT ON; 

	with findboundaries 
	as
	(
		select personid, personname, charindex('(', personname) as firstOccurrence, iif(datalength(personname) < datalength(personname) - charindex(')', reverse(personname)) + 1, 0,datalength(personname) - charindex(')', reverse(personname)) + 1)   as lastOccurrence from Person
	),
	names
	as
	(
		select f.personid, f.personname, iif(f.firstOccurrence = 0 or f.lastOccurrence = 0,'', substring(f.personname, f.firstOccurrence, f.lastOccurrence - f.firstOccurrence + 1)) as nicknamewithparens from findboundaries f
	),
	scrubnames1 as
	(
		select n.personid, ltrim(rtrim(replace(n.personname, n.nicknamewithparens, ''))) as fullname from names n
	),
	scrubnames2 as
	(
		select s1.personid, REPLACE(REPLACE(REPLACE(s1.fullname, ' ', '*^'), '^*', ''), '*^', ' ') as fullnamefinal from scrubnames1 s1
	)
	select s2.personid, dbo.calcMatchScore(PARSENAME(REPLACE(s2.fullNameFinal,' ','.'),2), PARSENAME(REPLACE(s2.fullNameFinal,' ','.'),1), p.DateofBirth, p.Sex, @FirstNameIn, @LastNameIn, @DOBIn, @SexIn)
	from scrubnames2 s2
	inner join person p on p.personid = s2.personid


RETURN  



GO
USE [master]
GO
